<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="/javascripts/condicionesFormReserva.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="javascripts/cargaComentarios.js"></script>

    <title><%=dest.nombre%></title>
</head>
<body>
    <%- include("header", { ses: dest.session }) %> <!-- subplantilla -->
    
    <div class="container contenedor-informacion-detallada">
        <h1 class="text-center titulo-destino"><%=dest.nombre%></h1>
        <div class="row info-detallada-destino">
            <div class="col-lg-6 col-sm-12">
                <div id="carruselImagenesDestinos" class="carousel slide">
                    <div class="carousel-inner imagenes-destino-carrusel">
                        <!-- Bucle para mostrar todas las imágenes de la BD (la primera ha de ser siempre active)-->
                        <% for (let i = 0; i < dest.imagen.length; i++) { %>
                            <% if (i == 0) { %>
                                <div class="carousel-item active">
                                    <img src="/images/<%=dest.imagen[i]%>" alt="Slide <% i %>" class="imagen-destino-main">
                                </div>
                            <% } else { %>
                                <div class="carousel-item">
                                    <img src="/images/<%=dest.imagen[i]%>" alt="Second slide <% i %>" class="imagen-destino-main">
                                </div>
                            <% }; %>
                        <% }; %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carruselImagenesDestinos" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carruselImagenesDestinos" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                  </div>
            </div>
            <!-- Bucle que permite añadir tantos encabezados y descripciones como sea necesario -->
            <div class="col-lg-6 col-sm-12 align-items-center texto-detallado-destino"> 
                <% for(let i = 0; i < dest.descripcion.Header.length;i++) { %>
                    <h4><%= dest.descripcion.Header[i] %></h4>
                    <p><%= dest.descripcion.Text[i] %></p>
                <% }; %>
            </div>
        </div>
        <!-- Formulario de reserva -->
        <div class="row contenedor-formulario-reserva">
            <form class="needs-validation formulario-reserva" method="POST">
                <h2 class="text-center">Formulario de reserva</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control celda-form-reserva" placeholder="Nombre" name="nombre" required>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <label for="apellido1">Primer apellido</label>
                        <input type="text" id="apellido1" class="form-control celda-form-reserva" name="primerApellido" placeholder="Apellido 1" required>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <label for="apellido2">Segundo apellido</label>
                        <input type="text" id="apellido2" class="form-control celda-form-reserva" name="segundoApellido" placeholder="Apellido 2" required>
                    </div>
                    <div class="col-12">
                        <label for="emailReserva">Correo electrónico</label>
                        <input type="email" id="emailReserva" class="form-control celda-form-reserva" name="emailReserva" placeholder="Email" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="startDate">Fecha inicio reserva</label>
                        <input id="startDate" class="form-control celda-form-reserva" type="date" name="inicio" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="endDate">Fecha fin reserva</label>
                        <input id="endDate" class="form-control celda-form-reserva" type="date" name="fin" required>
                    </div>
                </div>
                <input type="hidden" name="dest" value="<%=dest.nombre%>">
                <button class="btn btn-primary" type="submit">Reservar</button>
            </form>
        </div>

        <div class="container contenedor-comentarios">
            <h2 class="text-center">Comentarios sobre el destino</h2>
            <button class="botonVerComentarios btn btn-primary">Ver comentarios</button>
            <button class="botonVerComentarios btn btn-primary" id="botonRecargarComentarios">Recargar comentarios</button>

            <!-- En este div se meteran los comentarios de a BD -->
            <div id="comentarios">
            </div>
            <% if (dest.session !== undefined) {  %>
                <textarea id="comentario" class="form-control celda-form-reserva" name="comentario" placeholder="Escribe tu comentario" rows="5"></textarea>
                <button id="botonAddComentario" class="btn btn-primary">Añadir comentario</button>
                <div id="mensajeComentarioAdded" class="alert alert-success" role="alert">Comentario añadido con éxito</div>
                <div id="mensajeComentarioErrorAdd" class="alert alert-danger" role="alert">El comentario no puede estar vacío</div>
            <% }; %>
        </div>
    </div>

    <!-- Modal de confirmación de la reserva -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Éxito!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tu reserva para <%=dest.nombre%> ha sido realizada con éxito. ¡Nos vemos pronto!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <%- include("footer") %> <!-- subplantilla -->
</body>
</html>