<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="/javascripts/condicionesFormReserva.js"></script>

    <title>Practica Voluntaria 1</title>
</head>
<body>
    <%- include("header") %> <!-- subplantilla -->
    
    <div class="container contenedor-informacion-detallada">
        <h1 class="text-center titulo-destino"><%=dest.nombre%></h1>
        <div class="row info-detallada-destino">
            <div class="col-lg-6 col-sm-12">
                <div id="carruselImagenesDestinos" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class=" imagen-destino-main d-block w-100" src="/images/<%=dest.imagen[0]%>" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="imagen-destino-main d-block w-100" src="/images/<%=dest.imagen[1]%>"  alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="imagen-destino-main d-block w-100" src="/images/<%=dest.imagen[2]%>"  alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carruselImagenesDestinos" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Prev.</span>
                    </a>
                    <a class="carousel-control-next" href="#carruselImagenesDestinos" role="button" data-slide="next">
                        <span class="sr-only">Sig.</span>
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                  </div>
                <!-- <img class="img-fluid imagen-destino-main" src="/images/<%=dest.imagen[0]%>" alt="barcelona"> -->
            </div>
            <div class="col-lg-6 col-sm-12 align-items-center texto-detallado-destino"> 
                <% for(let i = 0; i < dest.descripcion.Header.length;i++) { %>
                    <h4><%= dest.descripcion.Header[i] %></h4>
                    <p><%= dest.descripcion.Text[i] %></p>
                <% }; %>
            </div>
        </div>
        <div class="row contenedor-formulario-reserva">
            <form class="needs-validation formulario-reserva">
                <h2 class="text-center">Formulario de reserva</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <label for="apellido1">Primer apellido</label>
                        <input type="text" id="apellido1" class="form-control" placeholder="Apellido 1" required>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <label for="apellido2">Segundo apellido</label>
                        <input type="text" id="apellido2" class="form-control" placeholder="Apellido 2" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="startDate">Fecha inicio reserva</label>
                        <input id="startDate" class="form-control" type="date" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="endDate">Fecha fin reserva</label>
                        <input id="endDate" class="form-control" type="date" required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Reservar</button>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¡Éxito!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Tu reserva para <%=dest.nombre%> ha sido realizada con éxito. ¡Nos vemos pronto!
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <%- include("footer") %> <!-- subplantilla -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>