<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Practica Voluntaria 1</title>
</head>
<body>
    <%- include("header") %> <!-- subplantilla -->
    
    <div class="container search">
        <form class="d-flex" role="search">
            <button class="btn " type="submit"><img src="/images/search.svg" alt="buscar"></button>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>

    <div class="container mainCard">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <% destinos.forEach(function(dest) {%>
        <div class="col">
          <div class="card">
            <a href="/<%=dest.nombre%>">
              <img class="card-img-top" src="/images/<%=dest.imagen[0]%>" alt="barcelona">
            </a>
            <div class="card-body">
              <h3 class="card-title"><%=dest.nombre %></h3>
              <p class="card-text">Desde <%=dest.precio%>€</p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    
    <div class="ver-mas-container">
      <button class="ver-mas-boton">Ver más destinos</button>
    </div>

    <%- include("footer") %> <!-- subplantilla -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
